# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.idea
.idea/vcs.xml
/public/images/09-2023/jpg/
/public/images/10-2023/jpg/
/public/images/11-2023/jpg/
/public/images/12-2023/jpg/
/public/images/01-2024/jpg/
/public/images/02-2024/jpg/
/public/images/03-2024/jpg/
/public/images/04-2024/jpg/
/public/images/05-2024/jpg/
/public/images/06-2024/jpg/
